# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [110]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [111]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [112]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [113]:
# Solution 1
chipo.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [114]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

In [115]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [116]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [117]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [118]:
chipo.groupby('item_name')['quantity'].sum().sort_values(ascending=False).head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [119]:
chipo.groupby('item_name')['quantity'].sum().sort_values(ascending=False).head(1)
# chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False).head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [120]:
chipo
chipo.groupby('choice_description').sum().sort_values(['quantity'], ascending=False)['quantity'].head(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### Step 12. How many items were orderd in total?

In [121]:
chipo['quantity'].sum()

np.int64(4972)

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [122]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [123]:
chipo.item_price = chipo.item_price.map(lambda x: float(x.replace('$', '')))

#### Step 13.c. Check the item price type

In [124]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [125]:
revenue = (chipo.item_price * chipo.quantity).sum()
print(f'Revenue was ${revenue}')

Revenue was $39237.02

h
### Step 15. How many orders were made in the period?

In [126]:
chipo.order_id.unique().shape[0]

1834

### Step 16. What is the average revenue amount per order?

In [127]:
# Solution 1
chipo['revenue'] = chipo.item_price * chipo.quantity

chipo.groupby('order_id')['revenue'].sum().mean()

np.float64(21.39423118865867)

In [128]:
# Solution 2

order_revenues = chipo.groupby('order_id')['revenue'].sum()
order_count = order_revenues.count()

order_revenues.sum() / order_count

np.float64(21.39423118865867)

### Step 17. How many different items are sold?

In [129]:
len(chipo.item_name.unique())

# or

chipo.item_name.value_counts().count()

np.int64(50)